.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#uno {
  background-image: url(../img/fondo-login.jpg );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; 
}

.mostrarContraseñaOjo {
  transform: translate(350%,-100%);
   
}
.mostrarContraseñaOjo:hover {
  background-color: lightgray;
}
.tituloLogin {
  color: rgb(216, 4, 107);
  font: 350% message-box;
}

.cont{
  height:100%;
  padding-top:0px;
  float:right;
}
.cont label{
  color:#797d7f;
  font-size:12.9px;
}

input[type="search"]{
  width:170px;
  margin: -5px 5px;
  padding:10px 16px;
  border-radius:32px;
  outline:none;
  border:2px solid #ccd1d1;
  background:#aeb6bf;
  transition:all 0.5s;
}
input[type="search"]:focus{
  background:#fff;
  width:300px;
}
.botonLogin {
  background-color: #EF3B66;
  color: white;
  padding: 4px;
  margin: 3px;
  font-family: sans-serif;
  font-weight: bold;
}
.botonLogin:hover {
  background-color: #780823;
}

.comentarios {
  border: 1px solid #e6e6e6;
  padding: 1rem;
  margin: 1rem;
  background-color: #e6e6e6;
}
.comentbox {
  margin: 1rem;
  padding: 1rem;
  transform: translate(-1.5%, -5%);

}

#comentarios {
  border: 1rem solid white ;
  background-color: lightgray;

}


/* acá empieza el css de las estrellitas */
.puntuaciones a i {
  color: grey;
}
.puntuaciones a.seleccionado i {
  color: orange;
}
/* acá termina el css de las estrellitas */

#botonDeEnviar {
  margin-left: 17px;
  margin-top: -25px;
}

.clearfix {
  overflow: auto;
}


.micompra{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 1500px;
}


input[type="number"]{
  width: 85px;
}

.bloque-de-imagen{
  width: 700px;
  display: inline-block;
  margin-left: 15px ;
  padding: 40px;
  border-bottom: 1px solid #ccc;
  
}


.bloque-de-imagenuno{
  line-height: 100px;
}


.imgcarrito{
  
  margin-left: 0px;
  width: 15rem;
  float: left;
}

.modificaruno{
  transform: translate(85%, -110%);
  display: block;
}
.inputnumber{
  transform: translate(280%, -155%);
}

.headercarrito{
  float: left;
}

.btn-modificar{
  transform: translate(295%, -243%);
  display: block;
}


.btn-modificar, .modificaruno {
    color: #ffffff;
    background:#0074bd;
    
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px rgb(88, 88, 88);
    border-radius: 4px;
}

.btn-modificar:hover, .modificaruno:hover, .finalizarcompra:hover {
background: rgb(37, 37, 37) ;
color:white;
transition: 300ms all;}

.subtitle{
  
  float: right;
  border: 1px solid #ccc;
  margin-right: -75px;
  margin-top: -8px ;
  border-radius: 4px;
  padding: 10px;
  text-transform: uppercase;
  
}

.subtitleuno{
  
  background-color: #0074bd;
  line-height: 20px;
  color: #ffffff;
  border-radius: 4px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 23px;
  font-family: "Open Sans", sans-serif;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
}
 
.subtotaluno, .subtotal{

  margin-left: 11px;
}

#cantidaddeunidadesuno, #cantidaddeunidadesdos{
  font-size: 25px;
}

.subtotal{
  border-bottom: 1px solid #ccc;
}

#articulouno, #articulodos{
  color: #0074bd;
}

#articulouno:hover, #articulodos:hover{
  color: #444;
  transition: 500ms all;
  cursor:pointer;
}

.preciototal{
  text-align: center;
  color: #d7292b;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;

  margin-top: 15px;
  
}

.precios{
  color: #d7292b;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700px;
  text-transform: uppercase;

}

.countunity{
  
  text-transform: uppercase;

}

.countunity{
  transform: translate(0% , -50%);
  text-transform: uppercase;

}

.finalizarcompra{
  color: #ffffff;
  text-align: center;
  background-color: #0074bd;
  width: 95%;
  height: 58px;
  margin-left: 10px;
  font-size: 17px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 35px;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600px;
  
  
}

.subtitlecontact{
  text-align: center;
}

@media(min-width:1300px){
  .allcontent{
    display: table;  
    text-align: left;
    margin: 0px auto;
    overflow: auto;
    transform: translate(-15%, 0%);
    
  }
  .inputnumber{
      transform: translate( 290%, -157%);
  }
  

}